<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bureau">
            <h2><span>Bureau</span> {{bureau.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{bureau.name}}</span>
                </dd>
                <dt><span>Espace</span></dt>
                <dd>
                    <span>{{bureau.espace}}</span>
                </dd>
                <dt><span>Place</span></dt>
                <dd>
                    <div *ngIf="bureau.place">
                        <a [routerLink]="['/personne', bureau.place?.id, 'view']">{{bureau.place?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bureau', bureau.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
